name: API Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  api-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Newman
        run: npm install -g newman newman-reporter-allure

      - name: Run API Tests
        run: |
          newman run ./postman/collection.json \
            -e ./postman/environment.json \
            -d ./postman/test_data.csv \
            -r cli,allure \
            --reporter-allure-export ./allure-results
        env:
          API_KEY: ${{ secrets.TMDB_API_KEY }}

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history
